* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
  }

  .container-create {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-edit {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-list {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-profile {
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
  }

  .form-profile {
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    display: grid;
  }

  .rounded-image {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #b38bff;
  }

  h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    margin-bottom: 10px;
    font-size: 18px;
  }

  input {
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #555;
  }

  select {
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #555;
  }

  .btn-submit {
    padding: 10px;
    background-color: #b38bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
  }

  .btn-add {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #b38bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
  }

  button:hover {
    background-color: #8c5fb2;
  }

  a {
    text-decoration: none;
    color: #b38bff;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
  }

  a:hover {
    color: #8c5fb2;
  }

  p {
    text-align: center;
    margin: 8px;
  }

  .table.align-middle {
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .navbar-nav .nav-link .fa {
    width: 24px;
    display: inline-block;
    text-align: center;
}

.profile-social-links li {
  list-style: none;
  margin: 0 auto;
  padding: 0px;
  float: left;
  width: 30%;
  text-align: center;
}

.profile-social-links li a {
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 6px;
  position: flex;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.profile-social-links li a i {
  position: flex;
  z-index: 1;
}